body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    border-bottom: 1px solid white;
    color: white;
    background-color: #28282B;
    height: 40px;
    align-items: center;
    font-size: 134%;
}

#username{
    margin: 0px 20px 0px 20px;
    color: red;
    font-size: 124%;
}

li {
    list-style: none;
    margin: 0 20px 0 20px;
    cursor: pointer;
    color: white;
    text-align: center;
}

li:hover{
    text-shadow: 0px 0px 4px white;
}

a{
    color: white;
    text-decoration: none;
}

#mode-chng-icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 auto ; 
}

#container{
    margin: 80px 30px 30px 30px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: auto;
    grid-gap: 100px;
}

.content{
    background-color: #fbf0da;
    box-shadow: 0px 0px 6px 2px grey;
}

.content-item{
    display: block;
    text-align: center;
    margin: 7px auto;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Download{color: #4ccb51;}
.Delete{color: red; cursor: pointer;}
.filename{
    color: black;
    margin: 0 7px;
}

#mobile-navbar{display: none;}

@media only screen and (max-width: 700px) {
    #navbar{display: none;}
    #mobile-navbar{
        display: block;
        position: sticky;
        top: 0; 
        height: 40px;
        background-color: #28282B;
        border-bottom: 1px solid white;
    }
    #home{
        display: flex;
        align-items: center;
    }
    #mob-nav-icon{
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    #mob-nav-username{
        margin: 0 auto 0 auto;
        color: red;
        font-size: 130%;
    }
    #mode-chng-icon{
        margin: 0;
    }
    #nav-links{
        display: none;
        background-color: #28282B;
    }
    #nav-links li{
        margin-bottom: 4px;
        font-size: 115%;
    }
}

input#inpFile,input#saveBtn{
    cursor: pointer;
    border-radius: 20px;
}

#subFiles {margin-top: 30px;}

#SubmitForm {
    width: 33vw;
    margin: auto;
}

#fileForm{
    margin: auto;
    width: 304px;
    border: 1px solid;
    padding: 5px;
    border-radius: 20px;
}

#inpFile::-webkit-file-upload-button{
    border-radius: 60px;
}

@media (min-width: 400px) and (max-width: 700px) {

    #Download{margin: 10px auto 10px auto;}

    #Delete{margin: 10px auto 10px auto;}

    #NewName{margin: 7px auto 7px auto;}

    #content-container {
        font-size: 14px;
        grid-template-columns: auto;
        grid-template-rows: min-content;
    }
}

@media only screen and (max-width: 400px) {
    #Download{margin: 10px auto 10px auto;}

    #Delete{margin: 10px auto 10px auto;}
    
    #NewName{margin: 7px auto 7px auto;}

    #content-container {
        font-size: 12px;
        grid-template-columns: auto;
        grid-template-rows: min-content;
    }
}

#progress-Bar{
    width: 300px;
    height: 17px;
    border: 2px solid black;
    margin: 10px auto 10px auto;
    border-radius: 20px;
    font-weight: bold;
    background-color: antiquewhite;
    display: none;
}

#progress-Content{
    display: flex;
}

#upload-progress{
    margin-left: 8px;
    margin-right: 190px;
}
#totalSize{
    margin-right: 8px;
}
#progress{
    border-radius: 20px;
    height: 100%;
    width: 0%;
    background-color: #ff9800;
}