body {
    margin: 0;
    padding: 0;
}

/* #navbar{display: flex;} */
#navbar {
    display: flex;
}

#logo {
    width: 75px;
    height: 50px;
}

img {
    width: 95%;
    height: 100%;
    border-radius: 50px;
}

#menu {
    border: 2px solid palevioletred;
    display: flex;
    align-items: center;
    width: 96vw;
    border-radius: 30px;
    background-color: #edafc3;
}

li {
    margin: auto 20px;
    list-style: none;
    width: 15vw;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    height: auto;
    font-size: 128%;
}

a:hover {
    cursor: pointer;
    color: white;
}

h2 {
    margin: 0 22px 0 auto;
}

#userAdmin{
    display: none;
}

/* Responsive */
#Rmenu {
    display: none;
    animation-name: Rmenu;
    animation-duration: 2.1s;
    animation-timing-function: ease;
}

@keyframes Rmenu {
    from {
        height: 0;
    }

    to {
        height: 55px;
    }
}

#responsive {
    display: none;
    margin: 5px;
    background-color: palevioletred;
}

#hamburger {
    width: 40px;
    border: 3px solid white;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.hamB {
    height: 1px;
    width: 25px;
    margin: 3px auto;
    border: 1px solid white;
    background-color: white;
}

.Ritem {
    text-align: center;
    margin: 0 auto 10px auto;
    width: 156px;
    font-size: 15px;
}

#Logout,
#DelA,
#Users {
    display: none;
}


@media screen and (max-width:700px) {
    #navbar {
        display: none;
    }

    #responsive {
        display: block;
    }
}

#content {
    /* background-color: blue; */
    width: 80vw;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: auto;
    text-align: center;
}

a.contitem {
    margin: 10px 0px 10px 0px;
    color: black;
    font-size: 130%;
    text-decoration: none;
}

a.delbtn {
    cursor: pointer;
    text-decoration: none;
    font-size: 130%;
    margin-top: 13px;
    color: red;
}

form.renameform {
    display: none;
    margin-top: 12px;
}

input.newNameBtn {
    margin-top: 12px;
}

#subFiles {
    margin-top: 30px;
}

#SubmitForm {
    width: 33vw;
    margin: auto;
}

#Download {
    color: green;
    height: auto;
    margin: auto;
}

#Delete {
    height: auto;
    margin: auto;
}

#NewName {
    height: 43px;
    margin: auto;
}

#fileForm{
    margin: auto;
    width: 304px;
    border: 1px solid;
    padding: 9px;
}

@media (min-width: 400px) and (max-width: 700px) {

    #Download{
        margin: 10px auto 10px auto;
    }
    #Delete{
        margin: 10px auto 10px auto;
    }
    #NewName{
        margin: 7px auto 7px auto;
    }
    #content {
        font-size: 14px;
        grid-template-columns: auto;
        grid-template-rows: min-content;
    }
}

@media only screen and (max-width: 400px) {
    #Download{
        margin: 10px auto 10px auto;
    }
    #Delete{
        margin: 10px auto 10px auto;
    }
    #NewName{
        margin: 7px auto 7px auto;
    }
    #content {
        font-size: 12px;
        grid-template-columns: auto;
        grid-template-rows: min-content;
    }
}